<!DOCTYPE html>
<html>
<head>
	<title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- 可选的Bootstrap主题文件（一般不使用） -->
	<script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap-theme.min.css"></script>

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'index' %}">Rango</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% if user.is_authenticated %}
                        <li><a href="{% url 'restricted' %}">Restricted</a></li>
                        
                        <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                    {% else %}
                        
                        
                    {% endif %}
                                <li><a href="{% url 'about' %}">About</a></li>
					
				</ul>
				
				<ul class="nav navbar-nav navbar-right">

					{% if user.is_authenticated %}
                        <li><a href="#">welcome {{ user.username }}!</a></li>
                        <li><a href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
                        
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Register</a></li>

                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
                                
					
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            {% block side_block %}
  				{% load rango_extras %}
   				{% get_category_list category %}
    		{% endblock %}


        </div>
        <div class="col-sm-9">
           <div>
                {% block body_block %}{% endblock %}
                </div>
        </div>
      </div>
    </div>

</body>
</html>